<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about" align="center">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
		
	<img src="https://avatars0.githubusercontent.com/u/21103831?s=400&u=0b2e910ee023628f4ae764484767fae844ce0762&v=4" width="150px" height="150px" align="center">
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <div>
        {% include svg-icons.html %}
      </div>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
